<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iwannnn.backstage.mapper.CompanyTaskMapper">

	<select id="getTaskList" resultType="cn.iwannnn.backstage.domain.entity.CompanyTask">
		select *
		from company_task
	</select>
</mapper>