<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iwannnn.backstage.mapper.CompanyUserMapper">

	<select id="selectByUsername" resultType="cn.iwannnn.backstage.domain.entity.CompanyUser">
	    select *
	    from company_user
		where username = #{username}
	</select>

	<select id="getUserList" resultType="cn.iwannnn.backstage.domain.entity.CompanyUser">
		select *
		from company_user
	</select>

	<select id="checkExist" resultType="cn.iwannnn.backstage.domain.entity.CompanyUser">
		select *
		from company_user
		where ${type} = #{info}
	</select>
</mapper>